@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

button {
    border: 0;
}

/* NAVBAR */
nav {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: 0.3s ease-in-out;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    width: 85%;
    margin: auto;
    padding: 12px;
}

#navbar-logo img {
    width: 140px;
    height: 80px;
}

#navbar-links {
    display: flex;
    place-items: center;
    flex-direction: row;
}

#navbar-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#navbar-links li {
    margin-left: 60px;
}

#navbar-links a {
    text-decoration: none;
    color: rgb(64, 64, 64);
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

#navbar-links ul a:hover {
    color: rgb(65, 105, 255);
}

#navbar-tools {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

#navbar-tools a{
    display: flex;
    place-items: center;
}

#navbar-tools span {
    background-color: red;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    place-items: center;
    position: relative;
    bottom: 8px;
    right: 10px;
}

#wishlist-link {
    margin-left: 15px;
}


/* Produk main body */
#product-page-body {
    padding: 0 100px;
}


/* top section main body */
#product-top-container {
    padding-top: 125px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

#product-top-wrapper {
    background-color: #edf2fb;
    width: 100%;
    height: 320px;
    overflow: hidden;
    padding: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
}

#product-top-text-section {
    width: 52%;
}

#product-top-text-section h1 {
    color: rgb(64, 64, 64);
    font-size: 23px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

#product-top-text-section h2 {
    color: rgb(64, 64, 64);
    font-size: 45px;
    font-weight: 500;
}

#product-top-text-section p {
    color: rgb(137,137,137);
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 25px;
    line-height: 1.7;
}

.blue-button {
    background-color: #3b71dc;
    color: white;
    font-size: 16px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    transition: 0.3s ease-in-out;
}

.blue-button:hover {
    background-color: rgb(102,136,240);
}

#product-top-text-section button {
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 17px;
}

#product-top-image-section {
    background-color: #c7d5f1;
    width: 420px;
    height: 420px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    box-shadow: 0px 20px 50px rgba(0,0,0,0.2);
}

#product-top-image-section img {
    height: 85%;
    width: auto;
}

#product-top-image-section:hover {
    animation: shake 0.5s linear infinite;
    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* produk kategori section */
#product-category-container {
    margin-top: 45px;
}

#product-category-text {
    margin-bottom: 45px;
    display: flex;
    place-items: center;
}

.blue-line {
    height: 40px;
    width: 15px;
    margin-right: 15px;
    background-color: #3b71dc;
    border-radius: 20px;
}

.section-category-text {
    color: rgb(64,64,64);
    font-weight: 500;
    font-size: 25px;
}

#product-category-wrapper {
    display: flex;
    justify-content: space-between; /* kiri, tengah, kanan */
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap; /* satu baris */
    gap: 20px;
}

.product-category {
    width: 375px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 0 30px rgba(129,129,129,0.1);
    transition: 0.3s ease-in-out;
}

.product-category:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.product-category-image-section {
    background-color: rgb(231,238,252);
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 10px;
    width: calc(120px - 20px);
    height: calc(100% - 20px);
}

.product-category-image-section img {
    max-width: 97%;
    max-height: 97%;
    object-fit: contain;
}

.product-category-desc-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    height: 100%;
    flex-grow: 1;
}

.product-category-desc-section .product-category-type {
    color: rgb(64,64,64);
    font-weight: 500;
    font-size: 18px;
}

.product-category-desc-section .product-category-number {
    color: rgb(137,137,137);
    font-size: 15px;
}

/* produk section */

.product-section {
    text-align: center;
    margin-top: 80px;
}

.product-section-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
}

.section-category-container {
    display: block;
}

.section-category-type {
    display: flex; 
    place-items: center;
}

.section-category-container h1 {
    color: rgb(64,64,64);
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 40px;
}

.slideshow-buttons-container {
    display: flex;
    flex-direction: row;
}

.slideshow-button {
    background-color: rgb(237,237,237);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    place-items: center;
    box-shadow: 0 2px 15px rgba(71,71,71,0.1);
}

.prev-button {
    margin-right: 15px;
}

.product-cards-container {
    width: 100%;
    display: flex;
    justify-content: start;
}

.product-cards-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.product-cards-container .product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(71,71,71,0.1);
    text-align: left;
    overflow: hidden;
    transition: 0.8s ease-in-out;
    width: 0;
    height: 0;
}

.product-card.active {
    width: 260px;
    height: 379px;
}

.product-cards-container .product-card:hover {
    transform: scale(1.1);
}

.product-image-container {
    background-color: rgb(231,238,252);
    padding: 20px;
    height: 198px;
    display: flex;
    justify-content: center;
    place-items: center;
    position: relative;
}

.product-image-container img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-image-container .heart-button {
    background: white;
    color: rgb(64,64,64);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 8px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-image-container .heart-button svg {
    stroke: rgb(64, 64, 64);
    fill: none;
}

.product-image-container .heart-button.active svg {
    stroke: red;
    fill: red;
}

.product-text-container {
    padding: 16px;
}

.product-text-container h1 {
    color: #333;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 4px;
}

.product-text-container p {
    color: rgb(102,102,102);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.product-text-container .blue-button {
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

/* Footer */

footer {
    background-color: #d9e5f4;
    text-align: center;
    padding: 30px;
    color: rgb(64, 64, 64);
    margin-top: 90px;
}

#footer-top {
    padding: 20px;
    width: 60%;
    margin: auto;
}

#footer-socials-wrapper {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    place-items: center;
}

.footer-social span {
    font-size: 16px;
    margin-left: 20px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

.footer-social a {
    text-decoration: none;
    color: rgb(64, 64, 64);
}

#footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    border-top: 1px solid rgb(169, 169, 169);
    padding-top: 30px;
    margin-top: 20px;
}

#footer-bottom ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#footer-bottom li {
    margin-right: 20px;
}

#footer-bottom a {
    text-decoration: none;
    color: rgb(64, 64, 64);
    transition: 0.3s ease-in-out;
}

#footer-bottom a:hover {
    color: rgb(64, 64, 64);
}